* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,ol,li{
    list-style: none;
}

body {
    background-color: black;
    font-family:"Pixelify Sans", sans-serif;
    color: white;
    padding: 35px;
    height: 100vh;
    width: 100%;
  
}

main{
    height: 100%;
    width: 100%;
}

.containerInformacoes{
    display: none;
    flex-direction: row;
}

.imgGigante{
    position: absolute;
    left: 35%;
}

.tituloProjeto{
    width: 600px;
    border-bottom: 2px solid #44D62C;
    padding-bottom: 10px;
    display: flex;
    justify-content: start;
    
}

.tituloProjeto h1{
    font-size: 55px;
}

.opcoesDeCategorias {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 2px solid #44D62C;
    margin-top: 50px;
    padding: 25px;
}

.opcoesDeCategorias li{
    font-size: 35px;
    background-color: #222222;
    max-width: 343px;
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bkmenor {
    width: 185px;
}

.bkmedio{
    width: 258px;
}

.bkmaisquemedio{
    width: 306px;
}

/*TELA VISUALIZAÇÃO JOGOS*/
.visualizacaoJogos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
}


.navegacao{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #44D62C;
}

.logoTitulo{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    width: 30%;
}

.logoTitulo h1{
    font-size: 55px;
    width: 50%;
    text-align: center;
}

.input{
    border-left: 2px solid #44D62C;
    height: 65px;
    width: 50%;
    display: flex;
    justify-content: start;
}

.input input{
    width: 100%;
    background-color: transparent;
    border: none;
    padding-left: 15px;
    outline: none;
}

::placeholder{
    color: white;
    font-size: 25px;
    font-family: "Pixelify Sans", sans-serif;
}

.tituloSessao{
    font-size: 35px;
    margin-top: 15px;
}

.containerCards{
    margin-top: 20px;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.cardJogo{
    width: 250px;
    height: 302px;
    border-top: 2px solid #44D62C;
    border-bottom: 2px solid #44D62C;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.imgJogo{
    width: 111px;
    height: 139px;
    background-image: url('');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 0px #44D62C;
}

.button-see-more{
    border: 1px solid #44D62C;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    width: 155px;
    height: 28px;
    padding: 0 8px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Pixelify Sans", sans-serif;
}

.maisDetalhesJogo{
    max-width: 559px;
    max-height: 393px;
    background-color: #222222;
    box-shadow: 0px 0px 10px 0px #44D62C;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.contImage{
    width: 241px;
    height: 301px;
    background-image: url('');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 0px #44D62C;
}

.conteudoPrincipal{
    display: flex;
    flex-direction: row;
}

.contImage{
    width: 70%;
}









